@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
<head>
</head>
<body>
    <div class="container">
        <h5>Exit <a href="https://twitter.com">here</a></h5>
    </div>
    @Html.Partial("Partials/_analytics")
</body>
</html>