@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
<head>
    <link href="/css/image-ad.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h5>Ad Preview</h5>
        @Html.Partial("Partials/_Ad", Model.Content.GetPropertyValue<string>("imageAd"))
    </div>
</body>
</html>

