@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
<head>
</head>
<body>
    <div class="container">
        <h5>Social Media Channels</h5>
        @Html.Partial("Partials/_Channels")
    </div>
</body>
</html>