.input-limit {

    .counter {
        display: inline-block;
        width: 66.5%;
        text-align: right;
        font-size: 0.85rem;
        font-weight: 400;
        padding: 5px 10px;
        transition: all 0.4s ease-in-out;
        box-sizing: border-box;
        color: #fff;
    }

    .thumb-up {
        background: #65ADA1;
    }

    .alert {
        background: #B8860B;
        margin-bottom: 0 !important;
    }

    .stop-hand {
        background: #ff0000;
    }
}
