<div ng-controller="Input.CharLimitEditorController" class="input-limit">
	<span ng-if="model.config.limit >= 100">
       <textarea ng-model="model.value" ng-change="limitChars()" rows="10" class="umb-editor umb-textarea textstring"></textarea>
   </span>
   <span ng-if="model.config.limit < 100">
       <input ng-model="model.value" ng-change="limitChars()" type="text" class="umb-editor umb-textstring textstring" />
   </span>
   <br/>
   <span class="counter {{css}}">
    <i class="icon icon-{{icon}}"></i>
    <span ng-show="countLeft"> 
        <localize key="inputlimit_youhave">you have</localize> {{counter}} <localize key="inputlimit_charleft" >characters left</localize>
    </span>
    <span ng-show="maxReached">
        <localize key="inputlimit_limitReachedOnly">Only</localize> {{limit}} <localize key="inputlimit_limitReachedAllowed">allowed</localize>
    </span>
</span>
</div>
