<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT socialMediaChannelsTest ANY>
<!ATTLIST socialMediaChannelsTest id ID #REQUIRED>

]>
<root id="-1">
  <socialMediaChannelsTest id="1481" key="2e5c9e0c-5a72-4acc-894e-ffadd5f5f3bf" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-19T18:23:05" updateDate="2016-05-19T18:23:05" nodeName="Teste" urlName="teste" path="-1,1481" isDoc="" nodeType="1053" creatorName="Carlos Augusto Alba Casalicchio" writerName="Carlos Augusto Alba Casalicchio" writerID="0" template="1052" nodeTypeAlias="socialMediaChannelsTest" />
</root>