<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT testPage ANY>
<!ATTLIST testPage id ID #REQUIRED>

]>
<root id="-1">
  <testPage id="1762" key="0b7c29d0-51c6-4d87-b059-66e4257e5b8f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-19T23:25:33" updateDate="2016-05-19T23:25:33" nodeName="Test" urlName="test" path="-1,1762" isDoc="" nodeType="1760" creatorName="Carlos Augusto Alba Casalicchio" writerName="Carlos Augusto Alba Casalicchio" writerID="0" template="1759" nodeTypeAlias="testPage" />
</root>