<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT testPage ANY>
<!ATTLIST testPage id ID #REQUIRED>

]>
<root id="-1">
  <testPage id="1762" key="0b7c29d0-51c6-4d87-b059-66e4257e5b8f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-19T23:25:33" updateDate="2016-05-20T00:15:36" nodeName="Test" urlName="test" path="-1,1762" isDoc="" nodeType="1760" creatorName="Carlos Augusto Alba Casalicchio" writerName="Carlos Augusto Alba Casalicchio" writerID="0" template="1759" nodeTypeAlias="testPage">
    <socialMediaChannels><![CDATA[{
  "index": 9,
  "Id": 1663,
  "CreateDate": "2013-09-20",
  "Screenshot": "/media/1577/vintage-retro.jpg",
  "Url": "http://brainleaf.eu/index.php/free-icons/62-free-retro-social-icons-by-brainleaf",
  "CreatedBy": "Brainleaf Communication",
  "ThemeName": "Retro Vintage Icons Set by Brainleaf Communication",
  "channels": [
    {
      "name": "deviantart",
      "img": "/media/1579/deviantart.png",
      "url": "digg",
      "order": 1
    },
    {
      "name": "blogger",
      "img": "/media/1578/blogger.png",
      "url": "blogger",
      "order": 0
    },
    {
      "name": "dribbble",
      "img": "/media/1580/dribbble.png",
      "url": "",
      "order": 2
    },
    {
      "name": "drupal",
      "img": "/media/1581/drupal.png",
      "url": "",
      "order": 3
    },
    {
      "name": "facebook",
      "img": "/media/1582/facebook.png",
      "url": "",
      "order": 4
    },
    {
      "name": "flickr",
      "img": "/media/1583/flickr.png",
      "url": "",
      "order": 5
    },
    {
      "name": "googleplus",
      "img": "/media/1584/googleplus.png",
      "url": "",
      "order": 6
    },
    {
      "name": "instagram",
      "img": "/media/1585/instagram.png",
      "url": "",
      "order": 7
    },
    {
      "name": "linkedin",
      "img": "/media/1586/linkedin.png",
      "url": "",
      "order": 8
    },
    {
      "name": "pinterest",
      "img": "/media/1587/pinterest.png",
      "url": "",
      "order": 9
    },
    {
      "name": "rss",
      "img": "/media/1588/rss.png",
      "url": "",
      "order": 10
    },
    {
      "name": "skype",
      "img": "/media/1589/skype.png",
      "url": "",
      "order": 11
    },
    {
      "name": "tumblr",
      "img": "/media/1590/tumblr.png",
      "url": "",
      "order": 12
    },
    {
      "name": "twitter",
      "img": "/media/1591/twitter.png",
      "url": "",
      "order": 13
    },
    {
      "name": "vimeo",
      "img": "/media/1592/vimeo.png",
      "url": "",
      "order": 14
    },
    {
      "name": "wordpress",
      "img": "/media/1593/wordpress.png",
      "url": "",
      "order": 15
    },
    {
      "name": "youtube",
      "img": "/media/1594/youtube.png",
      "url": "",
      "order": 16
    }
  ]
}]]></socialMediaChannels>
  </testPage>
</root>