<script>
    function SettingDeleteController($scope, $routeParams, notificationsService, navigationService) {
        $scope.delete = function (id) {
            var model = {};
            model.SettingID = id;

            $.ajax({
                type: "POST",
                url: "/umbraco/backoffice/api/SettingsApi/DeleteBySettingID",
                data: JSON.stringify({ SettingID: id }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: function (data) {
                        notificationsService.success("Success", "The setting deleted");
                        navigationService.hideNavigation();
                        navigationService.syncTree({ tree: 'Settings', path: [-1, -1], forceReload: true });
                        $("#contentcolumn").html("");
                    }
                },
                error: function () { }
            });
        };
        $scope.cancelDelete = function () {
            navigationService.hideNavigation();
        };
    }
</script>
<div class="umb-pane" ng-controller="SettingDeleteController">
    <p>
        Are you sure you want to delete {{currentNode.name}} ?
    </p>
    <div>
        <div class="umb-pane btn-toolbar umb-btn-toolbar">
            <div class="control-group umb-control-group">
                <a href="" class="btn btn-link" ng-click="cancelDelete()"><localize key="general_cancel">Cancel</localize></a>
                <a href="" class="btn btn-primary" ng-click="delete(currentNode.id)"><localize key="general_ok">OK</localize></a>
            </div>
        </div>
    </div>
</div>