.visit-counter .counter {
    font-size: 1.3em;
    text-shadow: -1px -1px 1px #ccc;
    color: #000;
    transition: all 0.6s ease-in-out;
}

    .visit-counter .counter:hover {
        text-shadow: 0 0 5px #000;
    }
