.social-media-channels select {
    width: 100%;
}

.social-media-channels img.screenshot {
    width: 250px;
    height: auto;
}

.social-media-channels a {
    word-break: break-all;
}

.social-media-channels th {
    width: 30%;
    padding-right: 10px;
    vertical-align: top;
}

.social-media-channels td.screenshot {
    width: 65%;
}

.social-media-channels ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-media-channels li {
    padding: 5px 10px;
}

.social-media-channels li i {
    font-size: 2em;
    cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;
}

.social-media-channels li i:active {
    color: #090909;
}