/*based off https://proto.io/freebies/onoff/*/
.on-off-button {

    .onoffswitch {
        position: relative;
        width: 60px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        display: none !important;

        &:checked + .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }

        &:checked + .onoffswitch-label .onoffswitch-switch {
            right: 0px;
        }
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999;
        border-radius: 20px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:before, &:after {
            text-decoration: inherit;
            display: inline-block;
            speak: none;
            float: left;
            width: 50%;
            height: 30px;
            padding: 0;
            line-height: 30px;
            font-size: 14px;
            color: white;
            box-sizing: border-box;
        }

        &:before {
            content: "\e165";
            padding-left: 10px;
            background-color: #65ADA1;
            color: #FFFFFF;
        }

        &:after {
            content: "\e1a4";
            padding-right: 10px;
            background-color: #ccc;
            color: #FFFFFF;
            text-align: right;
        }
    }



    .onoffswitch-switch {
        display: block;
        width: 18px;
        margin: 6px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 30px;
        border: 2px solid #999999;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
}
