.copy-value {
  margin: 0;
  padding: 0; }
  .copy-value .button {
    background: #35c786;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 130px;
    padding: 10px 16px;
    margin: 0;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer; }
    .copy-value .button:hover {
      background: #33bf81; }
  .copy-value .done {
    background: #65ADA1;
    cursor: not-allowed; }
    .copy-value .done:hover {
      background: #ccc; }
