<div ng-controller="Hidden.Button">
	<strong><localize key='hiddenswitch_clickToChange'>Click to change</localize></strong>
	<div class="hidden">
		<input type="checkbox" name="hiddenswitch" class="hiddenswitch-checkbox" id="idhiddenswitch" ng-model="engine.checked" ng-change="engine.change()">
		<label class="hidden-label {{engine.checked}}" for="idhiddenswitch">
			<i class="icon icon-{{engine.icon}}"></i> 
			<span ng-show="engine.checked">
				<localize key="hiddenswitch_isHidden">Is Currently hidden</localize>
			</span>
				<span ng-hide="engine.checked" class="notification">
					<localize key="hiddenswitch_notHidden">Not Currently hidden</localize>
				</span>
			</label>
		</div>
	</div>