<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2" version="0.0.3.1" url="https://our.umbraco.com/packages/backoffice-extensions/ad-preview/" name="Ad Preview" folder="dd33a182-4366-4cd8-b68d-d000d3efddb1" packagepath="~/media/created-packages/Ad_Preview_0.0.3.1.zip" repositoryGuid="" iconUrl="https://github.com/ccasalicchio/UmbracoPackages/blob/master/Umbraco.Plugins.AdPreview/icon.png?raw=true" umbVersion="7.4.3" packageGuid="e242ad7b-b88e-44d9-adb9-e11c4dceac32" hasUpdate="False" enableSkins="False" skinRepoGuid="00000000-0000-0000-0000-000000000000">
    <license url="http://opensource.org/licenses/MIT">MIT License</license>
    <author url="https://splatdev.com">SplatDev Ltda</author>
    <readme><![CDATA[# Ad Display for Umbraco 7.4.3+

- Creates a Data Type to display a preview of an image ad in the backoffice
	![Screenshot #1](../../../assets/imagead-1.png)
	![Screenshot #2](../../../assets/imagead-2.png)
- It also comes with a basic front-end example and css for styling
	![Screenshot #3](../../../assets/imagead-3.png)

##### Specs
- Value Type: JSON

##### Included Files:
- \css\
- \css\image-ad.css
- \App_Plugins\
- \App_Plugins\AdPreview
- \App_Plugins\AdPreview\css
- \App_Plugins\AdPreview\js
- \App_Plugins\AdPreview\Lang
- \App_Plugins\AdPreview\views
- \App_Plugins\AdPreview\LICENSE
- \App_Plugins\AdPreview\package.manifest
- \App_Plugins\AdPreview\README.md
- \App_Plugins\AdPreview\css\style.css
- \App_Plugins\AdPreview\css\style.min.css
- \App_Plugins\AdPreview\css\style.scss
- \App_Plugins\AdPreview\js\controller.js
- \App_Plugins\AdPreview\js\edit.controller.js
- \App_Plugins\AdPreview\Lang\en-GB.xml
- \App_Plugins\AdPreview\Lang\en-US.xml
- \App_Plugins\AdPreview\views\edit.html
- \App_Plugins\AdPreview\views\view.html
- \Views\
- \Views\Partials
- \Views\Example.cshtml
- \Views\Partials\_Ad.cshtml

[Feedback](mailto:feedback@splatdev.com) is appreciated
]]></readme>
    <actions>
    </actions>
    <datatypes>1066</datatypes>
    <content nodeId="" loadChildNodes="False">
    </content>
    <templates>1064</templates>
    <stylesheets>styles.css</stylesheets>
    <documenttypes>
    </documenttypes>
    <macros>
    </macros>
    <files>
      <file>/App_Plugins/AdPreview</file>
    </files>
    <languages>
    </languages>
    <dictionaryitems>
    </dictionaryitems>
    <loadcontrol>
    </loadcontrol>
  </package>
</packages>