.hidden-label{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding:5px 10px;
    font-size: 12px;
    color:#fff;
}
.hidden-label i{
    color:#fff;
    font-size: 1.5em;
}
.hidden-label.true{
    background:#F36F21;
    font-size: 16px;
}
.hidden-label.false{
    background:#4FA23C;
}
.hiddenswitch {
    position: relative; 
    width: 90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    user-select:none;
}
.hiddenswitch-checkbox {
    display: none !important;
}