<div ng-controller="Social.Media.Channels" class="social-media-channels">
    <h5><localize key="socialchannels_title">Choose</localize></h5>
    <table>
        <tbody>

            <tr>
                <td colspan="2">
                    <select ng-model="engine.selectedIndex" ng-change="engine.selectTheme(engine.selectedIndex)">
                        <option value="" ng-selected="engine.selectedIndex===null" localize="label" label="@socialchannels_defaultoption">------</option>
                        <option ng-repeat="theme in engine.themes track by $id($index)" value="{{$index}}" ng-selected="engine.selectedIndex===$index">
                            {{theme.ThemeName}}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
            </tr>

            <tr>
                <th ng-show="engine.selectedTheme">
                    <h4>{{engine.selectedTheme.ThemeName}}</h4>
                    <h5>{{engine.selectedTheme.CreatedBy}}</h5>
                    <h6><a href='{{engine.selectedTheme.Url}}' target='_blank'>{{engine.selectedTheme.Url}}</a></h6>
                    <h6>{{engine.selectedTheme.CreatedDate}}</h6>
                    <img class="screenshot" ng-src="{{engine.selectedTheme.Screenshot}}" />
                </th>

                <td ng-show="engine.selectedTheme" class="channels">
                    <ul ui-sortable="sortableOptions" ng-model="engine.selectedTheme.channels">
                        <li ng-repeat="channel in engine.selectedTheme.channels track by $id($index)" data-order="{{$index}}">
                            <span><img ng-src="{{channel.img}}" title="{{channel.name}}"></span> &nbsp;
                            <span><input type="text" placeholder="Link" ng-model="channel.url"></span>
                            <i class="icon icon-navigation handle"></i>
                        </li>
                    </ul>
                </td>

            </tr>
        </tbody>
    </table>
</div>