.ad-preview{
	color:#ccc;
	text-shadow: 1px 1px 4px #f2f2f2;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ad-preview .ad-wrapper{
	position:relative;
}
.ad-preview .ad-text{
	font-weight:800;
}
.ad-preview .caption{
	clear:both;
	display:block;
}
.ad-preview .overlay{
	display:none;
}
.ad-preview:hover .overlay{
	display:block;
	position:absolute;
	top:0;
	left:0;
	height: 100%;
	background:#000;
	opacity:0.8;
	color:#fff;
	padding: 25px;
	text-align:justify;
}
.ad-preview .tooltip{
	display:none;
}