<div>
    <form name="uWhiteLabelConfigForm" ng-submit="submit(model)" ng-controller="uWhiteLabel.Config.LoginScreenController as vm" val-form-manager>
        <umb-panel>
            <umb-header tabs="content.tabs">
                <div class="umb-headline-editor-wrapper span12 ng-scope">
                    <h1 class="ng-binding">Login Screen Settings</h1>
                </div>
            </umb-header>
            <umb-tab-view>
                <umb-tab id="tab1" rel="intro">
                    <div class="umb-pane">
                        <p>Show your logo and change the greeting text on the Umbraco backoffice login.</p>
                        <umb-pane>
                            <umb-control-group label="Logo Image Url" description="Optional absolute path to image (include http if hosted externally). Recommended max size: 250 x 50px.">
                                <input type="text" name="logo" ng-model="vm.logo" no-Dirty-Check />
                            </umb-control-group>
                            <umb-control-group label="Greeting Text" description="Leave blank to keep default Umbraco greeting.">
                                <input type="text" name="greeting" ng-model="vm.greeting" no-Dirty-Check />
                            </umb-control-group>
                        </umb-pane>
                        <div class="btn-toolbar umb-btn-toolbar pull-right">
                            <div ng-show="vm.isUmbButton">
                                <umb-button action="SaveLogin(vm.logo, vm.greeting)"
                                            type="button"
                                            button-style="success"
                                            state="vm.saveLogoButtonState"
                                            shortcut="ctrl+s"
                                            label="Save"
                                            disabled="vm.saveLogoButtonState === 'busy' || uWhiteLabelConfigForm.logo.$invalid">
                                </umb-button>
                            </div>
                            <div ng-hide="vm.isUmbButton">
                                <uwl-button action="SaveLogin(vm.logo, vm.greeting)"
                                            type="button"
                                            button-style="success"
                                            state="vm.saveLogoButtonState"
                                            shortcut="ctrl+s"
                                            label="Save"
                                            disabled="vm.saveLogoButtonState === 'busy' || uWhiteLabelConfigForm.logo.$invalid">
                                </uwl-button>
                            </div>
                        </div>
                    </div>
                </umb-tab>
            </umb-tab-view>
        </umb-panel>
    </form>
</div>